body {
  background-color: powderblue;
  letter-spacing: 3px;
}
hr {
  background-color: powderblue;
  border-top: dotted thick grey; |smarter: border-style:dotted none none; |border-style: none; border-top-style: dotted;
  border-bottom: powderblue;
  border-left: powderblue;
  border-right: powderblue;
  height:0px;
  border-width:5px;
  width:10%;
}
h1{
  color: brown;
  text-align: center;
  text-decoration: overline;
  text-decoration-style: double;
  text-shadow: 3px 3px red;
}
h3{
  color: yellow;
}
